.App-logo {
    height: 15vmin;
    pointer-events: none;
    width: 140px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .nav {
    background-color: #011844;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
}

.title {
    text-align: center;
    list-style: none;
    display: flex;
}

