.header {
  background-color: #37387a;
  top: 0%;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  text-align: center;
  list-style: none;
  display: flex;
}

.headerItems{
  display: inline;
    margin-right: 40px;
}