.registerBox {
    margin: auto;
    width: 50%;
  }
  .registerContainer{
    padding-top: 10em;
  }
  .registerStatus{
    margin: auto;
    text-align: center;
    justify-content:space-between;
  }
